{% extends 'base_layout.html' %}
{% block content %}
  <h1>Lista de Pedidos</h1>
  <a href="{% url 'agregar_pedido' %}" class="btn-agregar-pedido">Tomar un Pedido</a>
  <ul>
      {% for pedido in pedidos %}
          <li>
              Pedido ID: {{ pedido.id }} - Cliente: {{ pedido.cliente }} - Producto: {{ pedido.producto }} - Cantidad: {{ pedido.cantidad }}
              <a href="{% url 'visualizar_pedido' pedido.id %}" class="btn-visualizar-pedido">Visualizar</a>
          </li>
      {% endfor %}
  </ul>
{% endblock %}
